{% if user.is_authenticated %}
  <div class="user-info">
    Logged in as:<br>
    <strong>{{ user.username }}</strong>
  </div>
  <ul class="nav-menu">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen:index' %}">Home Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen:dish-list' %}">Dishes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen:dish-type-list' %}">Dish Types</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen:cook-list' %}">Cooks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'kitchen:ingredient-list' %}">Ingredients</a>
    </li>
  </ul>
  <div class="nav-item" style="margin-top: auto; padding-top: 20px;">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline btn-block"
              style="color: white; border-color: rgba(255,255,255,0.3);">Logout
      </button>
    </form>
  </div>
{% else %}
  <ul class="nav-menu">
    <li class="nav-item">
      <a class="btn btn-primary btn-block" style="text-align: center;" href="{% url 'login' %}">Login</a>
    </li>
  </ul>
{% endif %}
